body {color:#FFF; font-weight: 100; background: #9BA; font-family: Helvetica, serif;}
b {font-weight: 800;}
p {margin:15px 0;}
h1 {display:block; margin:0;}
h2 {font-size: 2.5em;}
h3 {font-size: 1.3em;}
h1, h2, h3, h4, h5, h6 {color:#000;}
label{color:#150; padding:0; display:block; margin:20px 0 5px 0; font-size: .9em;}
label.switch {margin:0; padding: 0; font-style: italic; cursor: pointer;}
table{width: auto;}
th {font-weight: 100; color:#999;}

blockquote {font-size: 1.5em; color:#995;}
blockquote::before{content: '*'; font-size: 7em; float:left; color:#EEC; margin:-50px 0 -70px -50px;}
img { width: 100%; float: left; margin: 10px 0;}

.container {}
.footer {position: absolute; display:none;}

input,
button,
select { padding: 8px 10px; font-size: 1.2em; margin:0 !important; vertical-align: top; background-image: linear-gradient(to top, #EEE, #FFF);}
button { padding: 8px 14px; border:1px solid #BBB; cursor: pointer;}
button:hover, button:active, button.active {background-image: linear-gradient(to top, #996, #CC9); color:#FFF;}
input[type=checkbox] {width: 20px; vertical-align: middle;}

.login {margin:10px 0; color:#150;}
.login input[type=text],
.login input[type=password],
.login button {display:block;}
.login button {margin:30px 0 0 0 !important;}
.login .inline * {display:inline}

.help li {display:list-item; padding:3px 0; cursor: pointer;}
.help li:hover {text-decoration: underline;}

.topctrl { height: 40px; padding:0; cursor: pointer; text-align: center;}
.topctrl button {width: 110px; height: 40px; opacity: .2; border:none; font-size: 1em;}
.topctrl button#goback {float:left;  text-align: left;  margin:0 20px 0 -20px; padding: 5px 10px 5px 24px; background: transparent url(../img/bk.png) left center no-repeat;}
.topctrl button#gonext {float:right; text-align: right; margin:0 -20px 0 20px; padding: 5px 24px 5px 10px;background: transparent url(../img/nx.png) right center no-repeat;}
.topctrl button:hover {opacity: 1; color:#000;}
.topctrl span {display:inline-block; padding: 10px 0; font-weight: bold;}

.chat {display: none;}

.grouplist {clear: both; margin: 20px 0; transition: 1s; width: 100%;}
.grouplist ul {margin:0 20px 0 -20px;}
.grouplist ul ul {margin:0;}
.grouplist li {display:block; width: 100%; padding: 4px 0 4px 20px; cursor:pointer; list-style: circle;}
.grouplist li span.msg { float:right; font-weight: 100; color:#F44; font-size: .8em; margin-right: 20px;}
.grouplist li span {display: block; font-weight: 100; color:#999; font-size: .8em;}
.grouplist li span span {display:inline; font-weight: 500; color:#F80; margin:0; font-size: 1em;}
.grouplist li span span.total {color:#0F0; margin-left: 10px;}
.grouplist li:hover, .grouplist li:active {background-image: linear-gradient(to top, #FFF, #F4F4EE); color:#000;}
.grouplist ul li {font-weight: bold;}
.grouplist ul ul li {font-weight: 100;}

.toback {transform: rotateY(-90deg) translateZ(215px); opacity: .8; transition: .5s !important; z-index: -1 !important;}
.tonext {transform: rotateY(90deg) translateZ(215px); opacity: .8; transition: .5s !important; z-index: -1 !important;}
.page {position:absolute; width: 410px; bottom: 60px; top:50px; padding: 0 10px; transition: 0.8s; overflow: auto;
    /* border:1px solid #DDD;*/background: #222; z-index: 2000 !important; border-radius: 9px; color:#FFF;}

.chatview {clear: both;}
.chatview li {padding: 5px 0; border-bottom: 1px solid #EEE; cursor: pointer;}
.chatview li:hover { background: #F4F4F4;}

.message {position: absolute; width: 430px; padding: 0; bottom: 0; height: 56px; overflow: hide;}
.message textarea {width: 302px; height: 28px; margin: 0; padding: 10px; overflow: auto; border-radius:9px; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.message button {float:right; width: 50px; height: 50px ; margin:0 1px !important; padding:10px 5px;}

.msg h5 {margin:10px 0 0 -25px; padding: 0;}
.msgcontent {margin:0 20px 0 -30px; padding: 10px; border:1px solid #DDD; border-radius:9px; background: #FFE; box-shadow: 0 2px 2px #CCC;}



#chat .xmsgc {margin:20px 0; font-family:"Trebuchet MS",Optima,Arial,Helvetica,sans-serif;}

    #chat h2{display:block; font-size:.9em; font-weight:300; padding:0; color:#FC9; margin:-8px 0 0 5px; border:none;}
    #chat .xmsg span{display:block; font-size:.7em; color:#AAA; margin:8px 0 -5px 0; padding:0; text-align:right;}
    #chat .xmsgc img{float:left; margin:-1px 10px 10px -1px; width:36px !important; box-shadow: 0 0 2px #222; border-radius:50%; opacity: .7;}

    #chat .xmsg {z-index: 1000; background:#FFF; color:#000; border-radius:8px; margin:10px 30px 0 5px; padding: 8px;  min-width: 100px; max-width: 500px;}
    #chat .xmsg * {color: #000 !important;}
    #chat .xmsg b{font-weight: bold;}
    #chat .xmsgi{
        transition: 1s;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 13px;
        height: 13px;
        background: #FFF;
        margin: 4px 0 0 17px !important;
        display: block;
        position: absolute;
        z-index: -1;
    }

    #chat .me .xmsg {background:#FED; margin:20px 10px 0 30px;}
    #chat .me .xmsgi{
        display: none;
        margin: 70px 0 0 0 !important;
        background: #FEE;
        right: 0;
    }

    #chat .file .xmsg {background:#FF9; min-height: 36px; cursor:pointer;}
    #chat .file .xmsgi{background:#FF9;}
    #chat .file .xmsg img{ width:26px!important; margin: 1px 15px 19px 5px; box-shadow: none; opacity: .9; border-radius:0;}